.bodyy{
    background-color: aquamarine;
}
.tablita{
    font-size: 20px;
    color: rgb(0, 0, 0);
}


.fa-solid, fa-house-chimmey-window{
    margin-right: 10px;
    color: green;
    font-size: 35px;
}